
.header{
  text-align: center;
  margin: 30px 150px 10px 150px ;
  padding: 50px 100px 50px 100px;
  border-radius: 30px;
  border: 2px solid blue;
}

#navbar{
  width: 60%;
  height: 100px;
  padding: 150px 120px;
  margin: 20px 1px 10px 150px;
  border-radius: 30px;
  border: 2px solid red;
}

#content{
  display: flex;
}

#input{
  background-repeat: no-repeat;
  width: 50%;
  height: 100px;
  padding: 100px 100px 200px 150px;
  margin: 20px 150px 10px 10px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid green;
}

#footer{
  text-align: center;
  margin: 20px 150px 10px 150px;
  padding: 50px 100px 50px 100px;
  border-radius: 30px;
  border: 2px dotted black;

}

.form{
  padding: 0 10px 0 -50px;
  margin: 0 0 0 20px;
}

input{
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
}

button{
  padding: 5px;
  margin: 0 0 0 40px;
}

#navbar{

  padding-top: 80px;
  padding-bottom: 220px;
} 
