* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

h3 {
    color: black;
    padding-top: 35px;
    text-align: center;
    font-size: 50px;
}

body span {
    color: blue;
}

.searchbar {
    display: flex;
    padding: 50px;
    flex: 30%;
    justify-content: right;
}

#searchbox {
    padding: 5px;
    width: 30%;
}

.dishes {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 40px 0 40px 0;
}

.dishes .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.dishes {
    background-size: cover;
    background-attachment: fixed;
}

.dishes .box h2 {
    padding-top: 10px;
    font-weight: 500;
}

.dishes .box .img-box {
    position: relative;
    width: 100%;
    height: 300px;
}

.dishes .box .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dishes .box .text h2 {
    font-weight: 400;
    color: #111;
    text-align: center;
}